{% extends 'base.html' %}
{% block title  %}APP1 V1{% endblock %}
{% block content %}
    <h1>Bienvenido a App1 V1</h1>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae, aliquid? Corrupti consequuntur ducimus dicta recusandae quidem eos at, mollitia saepe dignissimos rem! Quaerat id accusamus quas, blanditiis repellendus expedita laborum!
        Incidunt quibusdam facilis nostrum, nisi recusandae molestias quo sunt officia aperiam. Sunt dolores eos rerum! Fuga deserunt numquam atque explicabo libero voluptate, ut id nobis. Quidem est aspernatur non quaerat!
        Debitis dignissimos quidem nulla sed deserunt temporibus deleniti fuga ad cumque aperiam ipsa quis culpa laboriosam modi ab corporis illum aliquid corrupti nesciunt magnam fugit, esse dicta? Fugiat, id quidem?
        Eos saepe deserunt iste repellendus temporibus quibusdam cum iusto. Tenetur, laborum accusamus. Omnis ullam, molestias sequi quod quo asperiores vitae quasi porro dignissimos, ipsa, dolorem doloribus officiis dicta commodi quos!
        Magnam eaque nisi eveniet officiis iste repudiandae recusandae maxime ex, dignissimos, sequi, tempora necessitatibus id repellendus unde dolorem deleniti sapiente ipsa similique quam voluptas. Odit qui dolorum explicabo commodi consequuntur!
    </p>
{% endblock %}